.front_image#top
  .contact_bar.clearfix
    .contact_phone.split_5.column Phone No.
    .contact_email.split_5.column Email.
  .title_container
    %h1 Hand Over Cleaning
    %h2 Specialising in end of tenacy residential cleaning
  = link_to (image_tag('down_arrow.png')), '#about'
.outer_content_container#about
  .content_container
    .content
      .about_the_company.clearfix
        -#  
          .split_8.column.about_text
            .section_title
              %h2 About us
            %p We are your trusted and reliable Hand Over Cleaning Company for end of tenancy cleans.We do everything for you including carpets, floors, wall washing, wipe down of cupboards and skirting boards, remove spider webs, oven cleaning, sinks, kitchens, bathrooms, you name it, we clean it.
          = link_to root_path do
            .split_2.column.tab
              tab 1
          = link_to root_path do
            .split_2.column.tab2
              tab 2
          = link_to root_path do
            .split_2.column.tab3
              tab 3

        .tab-wrapper.clearfix
          
          .tab-content.split_8.column
            %div
              %h2 About us
              %p We are your trusted and reliable Hand Over Cleaning Company for end of tenancy cleans.We do everything for you including carpets, floors, wall washing, wipe down of cupboards and skirting boards, remove spider webs, oven cleaning, sinks, kitchens, bathrooms, you name it, we clean it.
            %div 
              %h2 Lorem ipsum 
              %p dolor sit amet, consectetur adipisicing elit. Enim veritatis nostrum, blanditiis, quia maiores nisi. Expedita cupiditate similique magnam, adipisci nesciunt, laborum rem! Excepturi, ad.
            %div 
              %h2 Lorem ipsum dolor 
              %p sit amet, consectetur adipisicing elit. Quis, ad esse. Hic at officiis fuga mollitia quod.
          %ul.tab-menu.split_2.column
            %li.active About Us
            %li tab #2
            %li tab #3

      .photo_slider.clearfix
        .split_10.column
          .section_title
            %h2 Our work
            .owl-carousel
              %div= image_tag('slide1.png')
              %div= image_tag('slide2.png')
              %div= image_tag('slide3.png')
              %div= image_tag('slide4.png')
              %div= image_tag('slide5.png')



      .services_summary.clearfix
        .section_title
          %h2 What we can do for you!
          %p (Click on a service to find out more)
        .services_list.clearfix
          %ul.left_list.split_5.column
            %li#flip Cleaning Showers & Bathrooms
            #panel random shinags Our Hand Over Cleaning service covers all aspects to ensure every chance of getting your Deposit back!

            %li#flip1 Mopping Floors & Washing Walls
            #panel1 random shinags Our Hand Over Cleaning service covers all aspects to ensure every chance of getting your Deposit back!

            %li#flip2 Ovens & Hot Plates
            #panel2 random shinags Our Hand Over Cleaning service covers all aspects to ensure every chance of getting your Deposit back! 

            %li#flip3 Kitchens & Cupboards
            #panel3 random shinags Our Hand Over Cleaning service covers all aspects to ensure every chance of getting your Deposit back!

            %li#flip4 Skirting Boards
            #panel4 random shinags Our Hand Over Cleaning service covers all aspects to ensure every chance of getting your Deposit back!

            %li#flip5 Carpet Cleaning and Steam Cleaning if required
            #panel5 random shinags Our Hand Over Cleaning service covers all aspects to ensure every chance of getting your Deposit back!

            %li#flip6 Vacuuming 
            #panel6 random shinags Our Hand Over Cleaning service covers all aspects to ensure every chance of getting your Deposit back!

            %li#flip7 Kitchens
            #panel7 random shinags Our Hand Over Cleaning service covers all aspects to ensure every chance of getting your Deposit back!

            %li#flip8 Bathrooms
            #panel8 random shinags Our Hand Over Cleaning service covers all aspects to ensure every chance of getting your Deposit back!

          %ul.right_list.split_5.column 
            %li#flip9 Cabinets cleaned
            #panel9 random shinags Our Hand Over Cleaning service covers all aspects to ensure every chance of getting your Deposit back!

            %li#flip10 Hallways & Stairway 
            #panel10 random shinags Our Hand Over Cleaning service covers all aspects to ensure every chance of getting your Deposit back!

            %li#flip11 Laundry
            #panel11 random shinags Our Hand Over Cleaning service covers all aspects to ensure every chance of getting your Deposit back!

            %li#flip12 Skirting Boards 
            #panel12 random shinags Our Hand Over Cleaning service covers all aspects to ensure every chance of getting your Deposit back!

            %li#flip13 Walls 
            #panel13 random shinags Our Hand Over Cleaning service covers all aspects to ensure every chance of getting your Deposit back!

            %li#flip14 Floors
            #panel14 random shinags Our Hand Over Cleaning service covers all aspects to ensure every chance of getting your Deposit back!

            %li#flip15 Windows 
            #panel15 random shinags Our Hand Over Cleaning service covers all aspects to ensure every chance of getting your Deposit back!

            %li#flip16 Spot Cleaning and stain removal 
            #panel16 random shinags Our Hand Over Cleaning service covers all aspects to ensure every chance of getting your Deposit back!

        %p Our Hand Over Cleaning service covers all aspects to ensure every chance of getting your Deposit back! 
        %p If you are moving out of your house or apartment soon and want to be confident you will get your deposit back from your property agents, contact us for a no obligation free Hand Back Cleaning Company quote today.
      .more_detail_about_services
      .contact_pane.clearfix
        %form
          .split_4.form_name
            %input{:name => "name", :type => "text", :placeholder => "Name..."}
          .split_4
            %input{:name => "email", :type => 'email', :placeholder => "Email..."}
          .split_9
            %textarea{:name => "message", :rows => "8", :placeholder => "Message..."}
          .split_9.submit_button
            %button{:type => "submit"} SEND
      .to_top.clearfix
        .split_10.column
          =link_to (image_tag('to_top.png')), '#top'